.cardmainfroms{
    background: #fff 0 0 no-repeat padding-box;
    box-shadow: 0 0 4px rgb(48 48 48 / 10%);
    border-radius: 2px;
    padding: 16px;
    margin-top: 10rem;
}
.errorfiles {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}
.btn-main{
    color: #fff !important;
    background-color: #4832c3 !important;
    border-color: #4832c3 !important;
    
}